.preview-grid {
  /* display: flex; */
  position: relative;
  /* flex-flow: row wrap; */
}

.preview-card {
  position: absolute;
  display: flex;
  border: 1px white solid;
  border-radius: 3px;
  flex-flow: column nowrap;
  padding: 5px; 
  visibility: hidden;
  max-height: 300px;
  overflow-y: hidden;
}