.form-modal {
  background-color: var(--color-background);
  border: 1px solid whitesmoke;
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  max-width: 60%;
  max-height: 80vh;
  border-radius: 4px;
}

.edit-notes {
  display: flex;
  flex-flow: column nowrap;
}

.edit-title {
  font-size: xx-large;
  font-weight: 800;
  padding: 2px 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: whitesmoke;
}

.edit-content {
  padding: 5px 5px;
  background-color: var(--color-background);
  color: whitesmoke;
  outline: 0px solid transparent;
  box-sizing: border-box;
  min-height: 2rem;
  max-height: 60vh;
  overflow-y: scroll;
}

.edit-footer {
  display: flex;
  width: 100%;
}

.edit-footer .save {
  margin: 5px auto 5px 10px;
  cursor: pointer;
}

.edit-footer .discard-confirm {
  margin: 5px 10px 5px 0;
}

.edit-footer .discard-no {
  margin: 5px 10px 5px 0;
  color: greenyellow;
}

.edit-footer .discard {
  text-transform: uppercase;
  color: red;
  background-color: rgba(100, 0, 0, 0.9);
  margin: 5px 10px 5px 0;
  cursor: pointer;
}
